body{
    margin-top: 2rem;
    margin-left: 2rem;
    text-align: center;
    background: linear-gradient(to right, rgb(57, 231, 57),rgb(85, 252, 85), whitesmoke,white, rgb(240, 85, 85), rgb(235, 79, 79));
    color: rgb(163, 95, 38);
    
}

a{
font-size: 1.1rem;
color: rgb(190, 100, 16);
font-weight: bold;
text-decoration: none;
}

a:hover{
background-color: rgba(151, 115, 90, 0.486);
padding: 8px 4px;
border-radius: 4px;
}